:root {
    --cornerRadius: 0.7rem;

    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--GrayishBlue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    width: 100%;
    max-width: 144rem;
    height: 100%;
}
.curve__svg img {
    position: absolute;
    overflow: hidden;
    width: 40%;
    bottom: 0;
    left: 0;
}
.card {
    display: grid;
    width: 100%;
    max-width: 144rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image .bg-img {
    max-width: 100%;
}
.image .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 54rem;
    border-radius: var(--cornerRadius);
    -webkit-box-shadow: 0px 90px 102px -66px hsla(240, 37%, 20%, 0.6);
    -moz-box-shadow: 0px 90px 102px -66px hsl(240, 38%, 20%, 0.6);
    box-shadow: 0px 90px 102px -66px hsl(240, 38%, 20%, 0.6);
}

.text {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.text .bg-text {
    position: absolute;
    top: 0;
    width: 20%;
}

.text .paragraph {
    font-weight: 300;
    color: var(--DarkBlue);
    position: absolute;
    top: 10%;
}
.personal__data {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.personal__data .name {
    color: var(--DarkBlue);
}
.personal__data .career {
    color: var(--GrayishBlue);
    font-weight: 500;
}

@media (min-width: 992px) {
    body {
        margin: 10rem auto;
    }
    .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding: 4rem;
    }
    .image {
        grid-column: 2/3;
    }
    .text {
        grid-column: 1/2;
        grid-row: 1/2;
        background-position: 30% 30%;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
    }
    .text .paragraph {
        top: 30%;
        left: 10%;
        width: 50%;
        font-size: 3.2rem;
    }
    .paragraph .name,
    .paragraph .career {
        font-size: 2.4rem;
    }
}
