:root {
    --cornerRadius: 0.7rem;

    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    height: 100%;
    font-size: 1.8rem;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--GrayishBlue);
    margin: 10rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.container {
    position: relative;
    width: 100%;
    max-width: 144rem;
    height: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    padding: 2rem;
    background-color: #fff;
}
.curve__svg img {
    position: absolute;
    overflow: hidden;
    width: 40%;
    bottom: 0;
    left: 0;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.image .img {
    width: 75%;
    max-width: 54rem;
    border-radius: var(--cornerRadius);
    -webkit-box-shadow: 0px 90px 102px -66px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 90px 102px -66px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 90px 102px -66px rgba(0, 0, 0, 0.54);
}

.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20%;
    padding: 3rem 1rem 3rem 1rem;
}
.text .paragraph {
    font-weight: 300;
    color: var(--DarkBlue);
}
.text .name {
    color: var(--DarkBlue);
}
.text .career {
    color: var(--GrayishBlue);
    font-weight: 500;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding: 4rem;
    }
    .image {
        grid-column: 2/3;
    }
    .text {
        grid-column: 1/2;
        grid-row: 1/2;
        background-position: 30% 30%;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        font-size: 3.2rem;
    }
    .text .paragraph {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 50%;
    }
}
