:root {
    --cornerRadius: 0.7rem;

    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--GrayishBlue);
}
.button {
    position: absolute;
    display: flex;
    width: 20rem;
    border: 2px solid red;
    top: 0;
    left: 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
    width: 100%;
    max-width: 144rem;
    min-height: 70rem;
    display: flex;
}
.curve__svg img {
    position: absolute;
    overflow: hidden;
    width: 70%;
    bottom: 0;
    left: 0;
}
.card {
    display: grid;
    width: 100%;
    max-width: 144rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 4rem;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image .bg-img {
    max-width: 100%;
}
.image .img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 54rem;
    border-radius: var(--cornerRadius);
    -webkit-box-shadow: 0px 90px 102px -66px hsla(240, 37%, 20%, 0.6);
    -moz-box-shadow: 0px 90px 102px -66px hsl(240, 38%, 20%, 0.6);
    box-shadow: 0px 90px 102px -66px hsl(240, 38%, 20%, 0.6);
}

.text {
    z-index: 999;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.text .bg-text {
    position: absolute;
    top: 0;
    width: 20%;
}

.text .paragraph {
    display: none;
    position: relative;
    top: 0;
    font-weight: 300;
    color: var(--DarkBlue);
}
.personal__data {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.personal__data .name {
    color: var(--DarkBlue);
}
.personal__data .career {
    color: var(--GrayishBlue);
    font-weight: 500;
}

@media (min-width: 576px) {
    .text {
        font-size: 2rem;
        padding: 4rem;
    }
    .text .bg-text {
        top: 0;
        left: 20%;
    }
}

@media (min-width: 640px) {
    body {
        margin: 10rem auto;
    }
    .curve__svg img {
        width: 40%;
    }
    .card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .image {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .text {
        grid-column: 1/3;
        grid-row: 1/2;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .text .bg-text {
        top: 33%;
        left: 20%;
        width: 10%;
    }
    .text .paragraph {
        position: absolute;
        width: 55%;
        left: 10%;
        top: 55%;
        transform: translate(0, -50%);
    }
    .paragraph .personal__data {
        flex-direction: row;
        gap: 1rem;
        align-items: baseline;
    }
}
@media (min-width: 768px) {
    .text {
        font-size: 2.4rem;
    }
    .text .bg-text {
        top: 30%;
        left: 19%;
    }
}
@media (min-width: 992px) {
    .text {
        font-size: 2.8rem;
    }
    .text .bg-text {
        top: 27%;
    }
}
@media (min-width: 1200px) {
    .text {
        font-size: 3.2rem;
    }
    .text .bg-text {
        top: 23%;
        left: 18%;
    }
}
